@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono"), url(../fonts/jetbrains-mono.ttf);
  font-display: swap;
}

:root {
  --text-light: #fff;
  --text-dark: #191824;

  --base-light: #fff;
  --base-dark: #191824;

  --mock: #242424;
  --background: #f6f5f4;

  --font-mono: "JetBrains Mono", monospace;

  font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  font-family: var(--font-mono);
  color: var(--text-dark);
  background: var(--background);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slide {
  width: 100%;
  height: 100%;
  container-name: slide;
  container-type: inline-size;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

section > div {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

section > .title {
  background: var(--base-dark);
  color: var(--base-light);
}

section > .content {
  background: var(--base-light);
  color: var(--base-dark);
  box-shadow: inset 10px 0 10px -5px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  width: min-content;
}

h3 {
  font-size: 1.5rem;
}

li:not(:last-child) {
  margin-bottom: 1rem;
}

.slide-cover {
  background: var(--base-dark);
  color: var(--text-light);
  flex-direction: column;
}

.slide-cover > .content {
  background: inherit;
  color: inherit;
  box-shadow: none;
  display: grid;
  gap: 0.2rem;
  height: initial;
  flex-grow: initial;
  margin: 2rem;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: fit-content;
  font-size: 0.8rem;
  font-weight: bold;
}

.slide-cover .language {
  box-shadow: none;
}

button {
  cursor: pointer;
}

#pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-family: var(--font-mono);
  color: var(--text-light);
  font-weight: bold;
}

#pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.3rem;
  background: none;
}

#pagination span {
  font-size: 0.6rem;
  line-height: 0.6rem;
  cursor: pointer;
}

input,
textarea,
.output {
  font-family: var(--font-mono);
}

.language {
  border-radius: 0.5rem;
  background: #191824;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

#execute {
  background: var(--base-dark);
  color: var(--base-light);
  padding: 0.3rem;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

#execute > img {
  width: 30px;
  height: 30px;
}

a {
  color: var(--text-dark);
}

#mock {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1rem;
}

#mock:not(:has(.fullscreen)) {
  overflow: hidden;
  box-shadow: 0 0 0 20px var(--mock);
}

#mock:has(.desktop) {
  aspect-ratio: 16/9;
  width: auto;
  height: 80%;
}

#mock:has(.tablet) {
  aspect-ratio: 3/4;
  width: auto;
  height: 80%;
}

#mock:has(.mobile) {
  aspect-ratio: 9/21;
  width: auto;
  height: 80%;
}

#mock:has(.mobile.landscape) {
  rotate: 90deg;
}

#mock:has(.mobile.landscape) > * {
  rotate: -90deg;
}

#mock:has(.watch) {
  aspect-ratio: 1/1;
  width: auto;
  height: 30%;
  border-radius: 50%;
}

@container slide (max-width: 1024px) {
  section {
    flex-direction: column;
  }

  section > .content {
    box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  }
}
