/* monitor */
.monitor-mockup {
  border: 1rem solid #18181b;
  border-bottom: 2rem solid #18181b;
  border-radius: 0.5rem;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: black;
  height: 540px;
  width: 700px;
}

.monitor-mockup::before {
  content: "";
  display: block;
  position: absolute;
  transform: translate(-50%);
  height: 0;
  width: 5rem;
  left: 50%;
  bottom: -6rem;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 5rem solid black;
  z-index: -1;
}

/* desktop */
.desktop-mockup {
  border-top: 3rem solid #d4d4d4;
  border-radius: 1rem;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: black;
  height: 700px;
  width: 1100px;
}

.desktop-mockup::before {
  content: "";
  display: block;
  position: absolute;
  top: -1.75rem;
  left: 1.5rem;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 0 0 0.2rem red, 2rem 0 0 0.2rem green, 4rem 0 0 0.2rem yellow;
}

/* tablet */
.tablet-mockup {
  border: 1rem solid #18181b;
  border-right: 1.5rem solid #18181b;
  border-radius: 3rem;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: black;
  height: 300px;
  width: 1100px;
}

.tablet-mockup::before {
  content: "";
  display: block;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: -1.35rem;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background-color: #d4d4d4;
}

/* mobile */
.mobile-mockup {
  border: 0.75rem solid #18181b;
  border-radius: 3rem;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: black;
  height: 500px;
  width: 300px;
}

.mobile-mockup::before {
  content: "";
  display: block;
  position: absolute;
  transform: translate(-50%);
  background-color: #18181b;
  border-radius: 0.75rem;
  width: 5rem;
  height: 2.25rem;
  left: 50%;
  top: -0.75rem;
}

/* smartwacth */
.watch-mockup {
  border: 1.5rem solid #18181b;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: black;
  height: 360px;
  width: 360px;
}

.watch-mockup::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #18181b;
  transform: translate(-50%, -25%);
  border-radius: 1rem;
  left: 50%;
  width: 9rem;
  height: calc(360px * 2);
  z-index: -1;
}

.watch-mockup::after {
  content: "";
  display: block;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: -3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: gray;
  z-index: -1;
}
